.navegacion {
  background-color: #d8f6d7; /* Color de fondo */
  background-image: url("../public/background.png");
  
  color: #505050;
  padding: 10px 10px; /* Relleno, 10 arriba y abajo, 5 izquierda y derecha */
  display: flex; /* Mostrar como Flexbox */
  flex-wrap: wrap; /* Ajustar a la pantalla */
  justify-content: flex-start; /* Centrar los elementos */
  gap: 2rem; /* Espacio entre elementos */
  margin-bottom: 3rem;
  border-bottom: 1px solid #e1e1e1;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.titulo{
  color: #276422;
  font-size: 2rem;
}

.homeMap{
  width: 95%;
  height:31rem;
}
